body {
	background-image:  url(http://fc01.deviantart.net/fs30/f/2008/148/c/3/Wood_floor_by_gnrbishop.jpg);
}

#board {

}

.postit {
	width: 200px;
	height: 200px;
	background-color: yellow;
	font-family: 'Open Sans';
	font-size: 24px;
	padding: 12px;
	margin: 20px;
	box-shadow: 5px 5px 7px rgba(33,33,33,.7);
	float: left;
	position: relative;
	transition: 0.1s all;
}

#board div:nth-child(even) {
	-webkit-transform: rotate(5deg);
}

#board div:nth-child(3n) {
	-webkit-transform: rotate(-5deg);
	background-color: pink;
}

#board div:nth-child(5n) {
	-webkit-transform: rotate(-10deg);
}

#board div:hover {
	/*-webkit-transform: rotate(10deg);*/
	-webkit-transform: scale(1.2);
}
